
        <div class="main-container">
            <h1>Welcome to {{title}}</h1>
            <h4>A fun game that tests your knowledge of the mexican slang.</h4>
            <a href="./signup" class="btn btn-outline-dark hvr-grow hvr-bounce-to-right">Sign Up</a>
            <a href="./login" class="btn btn-outline-dark hvr-grow hvr-bounce-to-left">Log In</a>
        </div>
