<div class="main-container">
    <div class="card text-center">
        <div class="card-body">
            <h1>Welcome to {{title}}</h1>
            <h3>A language learning game where you get to ignore the grammar and focus on what really matters: <br>the slang</h3>
            <a href="/home" class="btn btn-outline-light hvr-grow large">Log In</a>
        </div>
    </div>
</div>